* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden !important;
  background: url(./bg\ image.jfif) no-repeat center center/cover;
}
form {
  background-color: rgba(216, 213, 213, 0.8);
  max-width: 700px;
  min-width: 300px;
  height: auto;
  padding: 20px;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 2px 3px 8px 0 rgba(0, 0, 0, 0.5);
}
form h2 {
  font-size: 35px;
  padding: 20px;
  text-align: center;
  font-style: italic;
  color: rgb(26, 26, 223);
  font-weight: 900;
  position: relative;
  margin-bottom: 10px;
}
form h2::after {
  content: "";
  background-color: black;
  width: 90px;
  height: 6px;
  position: absolute;
  top: 10px;
  left: 260px;
}

label {
  font-size: 18px;
  font-weight: 900;
}
input[type="text"],
[type="email"],
[type="password"],
[type="date"],
[type="tel"] {
  width: 180px;
  height: 15px;
  padding: 15px;
}
.fname,
.lname {
  margin: 7px 0;

  padding: 10px 20px;
}
.fname label,
.lname label {
  margin-right: 30px;
}
.email {
  margin: 7px 0;
  padding: 10px 20px;
}
.email input {
  margin-left: 45px;
}
.password {
  margin: 7px 0;
  padding: 10px 20px;
}
.password input {
  margin-left: 45px;
}
.dob {
  margin: 7px 0;
  padding: 10px 20px;
}
.dob input {
  margin-left: 10px;
}
.gender {
  margin: 7px 0;
  padding: 10px 20px;
}
.gender label {
  margin-right: 55px;
}
.gender input {
  margin-right: 10px;
}
.gender span {
  margin-right: 35px;
}
.gender span:last-child {
  margin-right: 0px;
}
.address {
  margin: 7px 0;
  padding: 10px 20px;
}
.address label {
  display: block;
}
.address textarea {
  margin-top: 10px;
}
.phone {
  margin: 7px 0;
  padding: 10px 20px;
}
.phone input {
  margin-left: 60px;
}
.city {
  margin: 7px 0;
  padding: 10px 20px;
}
.city input {
  margin-left: 80px;
}
.code {
  margin: 7px 0;
  padding: 10px 20px;
}
.code input {
  margin-left: 50px;
}
.course {
  margin: 7px 0;
  padding: 10px 20px;
  margin-bottom: 20px;
}
.course label {
  margin-right: 45px;
}
.course span {
  margin-right: 10px;
}
.course span:last-child {
  margin-right: 0;
}
.course input {
  margin-right: 10px;
}

.btn {
  padding: 10px 12px;
  text-align: center;
  font-size: 15px;
  color: #fff;
  background-color: black;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-left: 30px;
  transition: background 0.4s;
}
.form-btn .btn-2 {
  padding: 10px 18px;
}
.btn:hover {
  background-color: blue;
}
.form-btn {
  max-width: 50%;
  padding-top: 25px;
  margin: 20px auto;
}
textarea,
input {
  border: none;
  border-radius: 10px;
}
textarea,
input:focus {
  outline: none;
}
hr {
  height: 5px;
  background-color: blue;
}
/* -------------------------------code for validation-------------------- */
input + p {
  opacity: 0;
}
.valid {
  border: 4px solid green;
}
.invalid {
  border: 4px solid red;
}
.invalid + p {
  margin-top: 1rem;
  opacity: 1;
  color: rgb(255, 0, 0);
  letter-spacing: 1px;
}
